{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">View All Mailing Campaigns</h2>

	{% for campaign in campaigns %}

	<div class="campaign_wrapper" data-link="/{{ campaign.user.username }}/campaign-{{ campaign.pk }}">
		<div class="image_left">

			<img src="/static/images/campaign_icon.png" />
			{% if campaign.active %}
			<img class="status" src="/static/images/bueno.png" />
			{% else %}
			<img class="status" src="/static/images/no_bueno.png" />
			{% endif %}

		</div>

		<div class="content_right">
			<table>
				<tr><td>• <b>{{ campaign.title }}</b></td></tr>
				<tr><td>• {{ campaign.created_date|date:"M d, Y" }} {{ campaign.created_date|time:"P" }}</td></tr>
				{% if campaign.active %}
				<tr><td>• Currently Active</td></tr>
				{% else %}
				<tr><td>• Currently Deactivated</td></tr>
				{% endif %}
				<tr><td>• Owner {{ campaign.user.username }}</td></tr>
			</table>
		</div>

		<div class="clear_float"></div>
	</div>

	{% endfor %}

	<div id="add_campaign_button" data-link="/{{ user.username }}/campaigns/new">
		<h1>+</h1>
	</div>

</div>
{% endblock %}

{% block header %}
<h5 id="header_title">{{ user.username }}'s Campaigns</h5>
<p id="header_desc">View and manage your mailing campaigns below.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/{{ user.username }}/account">Edit Account</a></td>
			<td><a href="/{{ user.username }}/campaigns/new">Create Campaign</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}