{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">
	<h1>Message Activity</h1>

	<!-- FLAG FOR CAMPAIGN GRAPH -->
	<div id="generate_campaign_graph"></div>

	<div id="trend_chart" camp-data="{{ campaign.pk }}" user-data="{{ user.username }}"></div>

</div>

<div class="solid_bg">

<h1>Campaign Details: {{ campaign.title }}</h1>

<table class="full_width">
	<tr>
		<td>Title</td>
		<td>{{ campaign.title }}</td>
	</tr>
	<tr>
		<td>Created Date</td>
		<td>{{ campaign.created_date|date:"M d, Y" }} {{ campaign.created_date|time:"P" }}</td>
	</tr>
	<tr>
		<td>Updated Date</td>
		<td>{{ campaign.updated_date|date:"M d, Y" }} {{ campaign.updated_date|time:"P" }}</td>
	</tr>
	<tr>
		<td>Active Campaign</td>
		<td>{{ campaign.active }}</td>
	</tr>
	<tr>
		<td>Owner</td>
		<td>{{ campaign.user }}</td>
	</tr>
	<tr>
		<td>Message Count</td>
		<td>{{ message_count }}</td>
	</tr>
</table>

<table class="ninety_center">
	<tr>
		<td><a class="link_button" href="/{{ user.username }}/campaign-{{ campaign.pk }}/messages">View Messages ({{ message_count }})</a></td>
		<td><a class="link_button" href="/{{user.username }}/campaign-{{ campaign.pk }}/recipients">Recipients ({{ recipient_count }})</a></td>
		<td><a class="link_button" href="/{{ user.username }}/campaign-{{ campaign.pk }}/edit">Edit Campaign</a></td>
		<td><a class="link_button" href="/{{ user.username }}/campaign-{{ campaign.pk }}/edit?action=delete">Delete Campaign</a></td>
 	</tr>
</table>

<a class="link_button_center" href="/{{ user.username }}/campaign-{{ campaign.pk }}/messages/new">New Message</a>

</div>
{% endblock %}

{% block header %}
<h5 id="header_title">{{ campaign.title }}</h5>
<p id="header_desc">Manage your mailing campaign with some of the options below.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/{{ user.username }}/campaigns">Back to Campaigns</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/edit">Edit Campaign</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/messages">View Messages</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients">View Recipients</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/edit?action=delete">Delete Campaign<a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}