@color-base: #FFFFFF;
@color-dark: #525453;
@color-important: #7CCBF2;
@color-selected: #BED9E6;
@color-black: #000000;
@nav-height: 65px;
@content-max-width: 1024px;
@content-min-width: 590px;
@content-width: 85%;

.font (@weight, @color) when (@weight = light) {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: @color;
}

.font (@weight, @color) when (@weight = bold) {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: @color;
}

.inner_shadow {
	-webkit-box-shadow: inset 0px 1px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    inset 0px 1px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         inset 0px 1px 5px 0px rgba(50, 50, 50, 0.4);
}

.clear_area_center {
	margin: 0 auto;
	padding: 0;
}

.box-outline {
	outline: 1px outset #707371;
	outline-offset: 1px;
}

.menu_wrapper {
	.clear_area_center;
	height: @nav-height;
	max-width: @content-max-width;
	width: @content-width;
}

nav {
	position: fixed;
	width: 100%;
	height: @nav-height;
	left: 0px;
	top: 0px;
	background-color: @color-important;
	.box-outline;
}

.menu_wrapper {
	.clear_area_center;
	height: @nav-height;
	max-width: @content-max-width;
	min-width: @content-min-width;
	width: @content-width;
}

.nav_left {
	float: left;
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 0;
	li {
		.font (light, @color-dark);
		padding-top: 22px;
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
		height: 43px;

		.nav_link {
			text-decoration: none;
			color: @color-dark;
		}

		&:hover {
			background-color: @color-selected;
			.inner_shadow;
			.font(light, @color-black);
		}
	}
}

#nav_icon {
	float: left;
	margin-right: 15px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.nav_right {
	float: right;
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 0;
	li {
		.font (light, @color-dark);
		padding-top: 22px;
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
		height: 43px;

		.nav_link {
			text-decoration: none;
			color: @color-dark;
		}

		&:hover {
			background-color: @color-selected;
			.inner_shadow;
			.font(light, @color-black);
		}
	}
}
