html,
body {
  height: 100%;
}
html {
  font-family: 'Open Sans', sans-serif;
}
.inner_shadow {
  -webkit-box-shadow: inset 0px 1px 5px 0px #4d4d4d;
  -moz-box-shadow: inset 0px 1px 5px 0px #4d4d4d;
  box-shadow: inset 0px 1px 5px 0px #4d4d4d;
}
.drop_shadow {
  -webkit-box-shadow: 10px 10px 8px -4px #333333;
  -moz-box-shadow: 10px 10px 8px -4px #333333;
  box-shadow: 10px 10px 8px -4px #333333;
}
.clear_area_center {
  margin: 0 auto;
  padding: 0;
}
.box-outline {
  outline: 1px outset #ffffff;
}
.menu_wrapper {
  margin: 0 auto;
  padding: 0;
  height: 65px;
  max-width: 1200px;
  width: 85%;
}
#notice_wrapper {
  background-image: url('/static/images/fiber_pattern.png');
  margin: 0;
  padding: 10px;
  margin-top: 65px;
}
#notice_wrapper p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 65px;
  left: 0px;
  top: 0px;
  background-color: #7ccbf2;
  outline: 1px outset #ffffff;
}
.menu_wrapper {
  margin: 0 auto;
  padding: 0;
  height: 65px;
  max-width: 1200px;
  min-width: 590px;
  width: 85%;
}
.nav_left {
  float: left;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
.nav_left li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #525453;
  padding-top: 22px;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  height: 43px;
}
.nav_left li .nav_link {
  text-decoration: none;
  color: #525453;
}
.nav_left li:hover {
  background-color: #bed9e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
}
.center_h3 {
  text-align: center;
}
#percent_response_chart_wrapper {
  width: 300px;
  height: 400px;
  float: left;
}
#percent_response_chart_wrapper h4 {
  text-align: center;
}
#percent_response_chart {
  width: 300px;
  height: 300px;
  background-color: #dde8ee;
}
#weekday_chart_wrapper {
  width: 300px;
  height: 400px;
  float: right;
}
#weekday_chart_wrapper h4 {
  text-align: center;
}
#weekday_chart {
  width: 300px;
  height: 300px;
  background-color: #dde8ee;
}
#coord_map {
  height: 500px;
  background-color: #dde8ee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#geo_region_map {
  width: 670px;
  margin: 0 auto;
  min-width: 670px;
  height: 500px;
  background-color: #dde8ee;
}
.clear_float {
  clear: both;
}
#nav_icon {
  float: left;
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.seperator {
  height: 1px;
  background: #525453;
  border-bottom: 1px solid #bed9e6;
  margin: 10px;
}
.box_shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nav_right {
  float: right;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
.nav_right li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #525453;
  padding-top: 22px;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  height: 43px;
}
.nav_right li .nav_link {
  text-decoration: none;
  color: #525453;
}
.nav_right li:hover {
  background-color: #bed9e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
}
.solid_bg {
  background-color: #ffffff;
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.content_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 85%;
  min-width: 700px;
  padding: 0;
  height: 100%;
}
.rounded_border {
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.radius_twenty {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#slick_template_toggle {
  margin-top: 10px;
  width: 100%;
  background-color: #bed9e6;
  height: 50px;
}
#slick_template_toggle h3 {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 12px;
  text-align: center;
}
#slick_wrapper {
  width: 100%;
  margin: 0 auto 50px;
  background-color: #525453;
}
#slick_wrapper div {
  margin-bottom: 15px;
}
#slick_wrapper div h4 {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 12px;
  width: 85%;
  color: #525453;
  background-color: #bed9e6;
}
#update_message_header {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  background-color: #bed9e6;
}
#update_message_header h3 {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 12px;
  text-align: center;
}
#sample_message_toggle {
  width: 100%;
  height: 50px;
  background-color: #bed9e6;
  cursor: pointer;
}
#sample_message_toggle h3 {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 12px;
  text-align: center;
}
#sample_message_colapse {
  margin: 0;
  padding: 0;
}
.sample_message {
  width: 100%;
  frameborder: no;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
header {
  background-color: #bed9e6;
  margin: 0;
  padding: 0;
  padding-top: 95px;
  padding-bottom: 30px;
  width: 100%;
}
footer {
  height: 150px;
  width: 100%;
  bottom: 0;
  background-color: #bed9e6;
}
#footer_content {
  text-align: center;
  margin: 0;
  padding-top: 72px;
}
#header_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 60px;
  margin: 0;
  padding: 0;
}
#header_desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #525453;
  font-size: 30px;
}
section[id="main"] {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  padding-top: 30px;
  background-color: #dde8ee;
  min-height: 100%;
}
.float_left {
  width: 50%;
  float: left;
}
.float_right {
  width: 50%;
  float: right;
}
.ninety_center {
  width: 90%;
  margin: 0 auto;
}
.ninety_center td {
  width: 25%;
}
#update_message_wrapper {
  max-width: 840px;
  margin: 0 auto;
}
.form_wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 35px;
  background-color: #7ccbf2;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.form_wrapper ul {
  margin: 0;
  padding: 0;
}
.form_wrapper ul li {
  margin: 0;
  padding-bottom: 15px;
  list-style-type: none;
}
.form_right_wrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 35px;
  background-color: #7ccbf2;
}
.form_right_wrapper ul {
  margin: 0;
  padding: 0;
}
.form_right_wrapper ul li {
  margin: 0;
  padding-bottom: 15px;
  list-style-type: none;
}
.link_button {
  display: block;
  padding: 5px;
  text-decoration: none;
  background-color: #7ccbf2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-align: center;
}
.link_button:hover {
  background-color: #bed9e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #525453;
  border: 1px solid #525453;
}
.link_button_center {
  display: block;
  padding: 5px;
  text-decoration: none;
  background-color: #7ccbf2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-align: center;
  width: 35%;
  margin: 0 auto;
  margin-top: 15px;
}
.link_button_center:hover {
  background-color: #bed9e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #525453;
  border: 1px solid #525453;
}
table[class='full_width'] {
  width: 100%;
}
table[class='full_width'] th {
  text-align: left;
}
table[class='full_width'] td {
  padding: 5px;
}
table[class='full_width'] td a {
  text-decoration: none;
}
table[class='full_width'] td a:hover {
  color: #7ccbf2;
}
tbody[class="center"] {
  text-align: center;
}
input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 25px;
}
input[type="text"] {
  display: inline-block;
  float: right;
  width: 100%;
}
input[type="file"] {
  display: inline-block;
  float: right;
  width: 100%;
}
input[type="password"] {
  display: inline-block;
  float: right;
  width: 100%;
}
input[type="email"] {
  display: inline-block;
  float: right;
  width: 100%;
}
input[name="link"] {
  display: inline-block;
  float: right;
  width: 100%;
}
select[id="id_template"] {
  display: inline-block;
  float: right;
  width: 100%;
}
select[id="id_deploy_hour"] {
  display: inline-block;
  float: right;
  width: 100%;
}
select[id="id_time_zone"] {
  display: inline-block;
  float: right;
  width: 100%;
}
input[type="submit"] {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  padding: 15px;
  text-decoration: none;
  background-color: #bed9e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
input[type="submit"]:hover {
  background-color: #bed9e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #525453;
  border: 1px solid #525453;
}
textarea {
  display: inline-block;
  float: right;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  resize: none;
}
label {
  display: inline-block;
  float: left;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000000;
}
.graph_wrapper {
  width: 650px;
  margin: 0 auto;
}
#trend_chart {
  width: 670px;
  margin: 0 auto;
  min-width: 670px;
  height: 500px;
}
#data_error {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  border-bottom: 3px solid red;
}
#add_campaign_button {
  height: 130px;
  width: 608px;
  background-color: #525453;
  margin: 0 auto;
  outline: 1px outset #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
}
#add_campaign_button:hover {
  background-color: #7ccbf2;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.58);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.58);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.58);
}
#add_campaign_button h1 {
  text-align: center;
  font-size: 95px;
  margin: 0px;
  color: #ffffff;
}
.color_transition {
  transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
.box_shadow_transition {
  transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
}
.campaign_wrapper {
  height: 200px;
  width: 588px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #bed9e6;
  padding: 10px;
  cursor: pointer;
  outline: 1px outset #ffffff;
  transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
}
.campaign_wrapper:hover {
  background-color: #7ccbf2;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.58);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.58);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.58);
}
.campaign_wrapper .image_left {
  float: left;
  position: relative;
  height: 100%;
}
.campaign_wrapper .image_left img {
  height: 100%;
}
.campaign_wrapper .image_left .status {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 15px;
  left: 5px;
}
.campaign_wrapper .content_right {
  float: right;
  height: 100%;
  width: 375px;
}
.campaign_wrapper .content_right table {
  width: 100%;
}
.campaign_wrapper .content_right table tr {
  line-height: 45px;
}
.campaign_wrapper .content_right table tr td {
  font-size: 20px;
  color: #525453;
}
