{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">Add New Recipient</h2>

	<div class="form_wrapper">
		<form id="new_recipient_form" method="post" action="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/add">
			{% csrf_token %}

			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}

			<ul class="form_item">
				{% for field in form.visible_fields %}
				<li>
					{{ field.label_tag }}
					{{ field }}
					<div class="clear_float"></div>
				</li>
				{% endfor %}
			</ul>
			<div class="clear_float"></div>
			<input type="submit" name="submit" value="Add Recipient" />
		</form>
	</div>
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Create a new campaign</h5>
<p id="header_desc">Create a new campaign by completing the form below.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}">Back to Campaign</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/upload">Upload Recipients</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients">View Recipients</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}