{% extends "_base.html" %}

{% block content %}
<div class="solid_bg">

	<h2 class="header_center">Campaign Recipients: {{ recipients.0.campaign }}</h2>

	<table class="report_table">
		<tr>
			<th>Address</th>
			<th>Invited</th>
			<th>Approved</th>
			<th>Action</th>
		</tr>
		<tbody>
			{% for recipient in recipients %}
			<tr>
				<td>{{ recipient.email }}</td>
				{% if recipient.invited %}
				<td><img src="/static/images/bueno.png" height="18px" /></td>
				{% else %}
				<td><img src="/static/images/no_bueno.png" height="18px" /></td>
				{% endif %}
				{% if recipient.active %}
				<td><img src="/static/images/bueno.png" height="18px" /></td>
				{% else %}
				<td><img src="/static/images/no_bueno.png" height="18px" /></td>
				{% endif %}
				<td><a href="?delete={{ recipient.pk }}">Remove?</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="float_left">
		<a class="link_button_center" href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/add">Add A Recipient</a>
	</div>

	<div class="float_right">
		<a class="link_button_center" href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/upload">Upload Contacts</a>
	</div>

	<div class="clear_float"></div>

</div>
{% endblock %}

{% block header %}
<h5 id="header_title">Campaign Recipients</h5>
<p id="header_desc">Manage recipients of your campaign below.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}">Back to Campaign</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/add">Add Recipient</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/upload">Upload Recipients</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}