{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">Recipient Uplaod Report</h2>

	<table class="report_table">
		<tr>
			<th>Email Address</th>
			<th>Status</th>
			<th></th>
		</tr>

		{% for key, value in valid_emails.items %}
		<tr>
			<td>{{ key|truncatechars:25 }}</td>
			<td>{{ value }}</td>
			<td><img src="/static/images/bueno.png" height="18px" /></td>
		</tr>
		{% endfor %}

		{% for key, value in invalid_emails.items %}
		<tr>
			<td>{{ key|truncatechars:25 }}</td>
			<td>{{ value }}</td>
			<td><img src="/static/images/no_bueno.png" height="18px" /></td>
		</tr>
		{% endfor %}

	</table>

</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Upload Report</h5>
<p id="header_desc">This page will contain success and error information reguarding your recent file-upload</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}">Back to Campaign</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients">View Recipients</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/add">Add Recipient</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign.pk }}/recipients/upload">Upload Recipients</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}