{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<dl>
		<dt>Valid Entries</dt>
			{% for key, value in valid_emails.items %}
				<dd>{{ key }}::{{ value }}</dd>
			{% endfor %}
	</dl>

	<dl>
		<dt>Invalid Entries</dt>
			{% for key, value in invalid_emails.items %}
				<dd>{{ key }}::{{ value }}</dd>
			{% endfor %}
	</dl>

</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Upload Report</h5>
<p id="header_desc">This page will contain success and error information reguarding your recent file-upload</p>
{% endblock header %}