{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<nav>
		<div class="menu_wrapper">
			<img id="nav_icon" src="{% static 'images/nav_icon.png' %}" height="59px"></img>
			<ul class="nav_left">
				<li><a class="nav_link" href="/">MailPrime</a></li>
				<li><a class="nav_link" href="/tos">Terms of Service</a></li>
			</ul>

			<ul class="nav_right">
				{% if user.is_authenticated %}
				<li><a class="nav_link" href="/{{ user.username }}/account">{{ user.username }}</a></li>
				<li><a class="nav_link" href="/logout">Logout</a></li>
				{% else %}
				<li><a class="nav_link" href="/login">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	{% if messages %}
	{% for message in messages %}
	<div class="notify">
		<p>{{ message.tags }} -> {{ message }}</p>
	</div>
	{% endfor %}
	{% endif %}

	{% block content %}
	{% endblock %}

</body>
</html>