{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{% static 'script/base.js' %}"></script>
</head>

<body>
	{% if messages %}
	<div id="notice_wrapper">
		{% for message in messages %}
		<p class="notice">{{ message }}</p>
		{% endfor %}
	</div>
	{% endif %}

	<nav>
		<div class="menu_wrapper">
			<img id="nav_icon" src="{% static 'images/nav_icon.png' %}" height="59px"></img>
			<ul class="nav_left">
				<li><a class="nav_link" href="/">MailPrime</a></li>
				<li><a class="nav_link" href="/tos">Terms of Service</a></li>
			</ul>

			<ul class="nav_right">
				{% if user.is_authenticated %}
				<li><a class="nav_link" href="/{{ user.username }}/campaigns">Campaigns</a></li>
				<li><a class="nav_link" href="/{{ user.username }}/account">{{ user.username }}</a></li>
				<li><a class="nav_link" href="/logout">Logout</a></li>
				{% else %}
				<li><a class="nav_link" href="/login">Login</a></li>
				{% endif %}
			</ul>
			<div class="clear_float"></div>
		</div>
	</nav>

	<header>
		<div class="content_wrapper">
			{% block header %}
			<!-- This will get filled out by child templates -->
			{% endblock header %}
		</div>
	</header>

	{% block content %}
	{% endblock %}

</body>
</html>