{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">
<h1 class="homepage_header">So what is MailPrime?</h1>

<div class="homepage_wrapper">
<p class="home_text_left"><b>MailPrime</b> is a web-based email campaign tool that gives users the ability to <i>create, schedule, deploy,</i> and <i>track</i> large email campaigns.</p>
<img class="home_img_right" src="/static/images/campaign_icon.png" />
<div class="clear_float"></div>
</div>

<div class="homepage_wrapper">
<p class="home_text_right"><b>MailPrime</b> is a comprehensive email-service that gives users a selection of great-looking HTML email message templates. MailPrime sends the HTML formatted message along with a more universal plain-text version as well.</p>
<img class="home_img_left" src="/static/images/sample_templates/dark.png" />
<div class="clear_float"></div>
</div>

<div class="homepage_wrapper">
<p class="home_text_left"><b>MailPrime</b> also implements an <i>opt-in</i> model for recipients. Possible recipients will need to authorize their participation before recieving messages from the campaign administrator. Users are able to <i>opt-out</i> of the campaign at any time. If a user does opt-out of the campaign, all personal and tracking data belonging to them will be promtly deleted.</p>
<img class="home_img_right_ok" src="/static/images/ok_button.png" />
<div class="clear_float"></div>
</div>

<div class="homepage_wrapper">
<p class="home_text_right">In addition, never miss a message with the MailPrime's <i>message-scheduler</i>. MailPrime's cron-based scheduler allows administrators to choose when to deploy their campaign messages, aligning with the needs of the campaign administrator.</p>
<img class="home_img_left_sch" src="/static/images/schedule.png" />
<div class="clear_float"></div>
</div>

<div class="homepage_wrapper">
<p class="home_text_left"><b>MailPrime</b> also displays tracking data back to the administrator too. Visualization tools are used to create reports that show recipient participation.</p>
<img class="home_img_right" src="/static/images/chart.png" />
<div class="clear_float"></div>
</div>

</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Welcome to MailPrime</h5>
<p id="header_desc">Make your email mailing-list easier to manage with MailPrime. Why torture yourself?</p>
{% endblock header %}