{% extends "_base.html" %}

{% block content %}

	<h4>Please Log In!!!</h4>
	<form action="/login" method="post">
		{% csrf_token %}
		<label for='username'>Username</label>
		<input type='text' name='username'>
		<label for='password'>Password</label>
		<input type='password' name='password'>
		<input type='submit' value='login'>
	</form>

{% endblock %}

{% block header %}
<h5 id="header_title">Login to MailPrime</h5>
<p id="header_desc">Start your new mailing campaign by logging into your account.</p>
{% endblock header %}