{% extends "_base.html" %}

{% block content %}

<div class="form_wrapper">
	<form action="/login" method="post">
		{% csrf_token %}

		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		<ul class="form_item">
			{% for field in form.visible_fields %}
			<li>
				{{ field.label_tag }}
				{{ field }}
				<div class="clear_float"></div>
			</li>
			{% endfor %}
		</ul>
		<div class="clear_float"></div>
		<input type="submit" name="submit" value="login" />
	</form>
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Login to MailPrime</h5>
<p id="header_desc">Start your new mailing campaign by logging into your account.</p>
{% endblock header %}