{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">
	<h2 class="header_center">Terms of Service/Acceptable Use Policy</h2>

	<p>MailPrime can not be used to send anykind of offensive/abusive material. Account holders can <b>not</b> use MailPrime for purposes surrounding:</p>

	<ul>
		<li>Pornography, or any other explicit materials.</li>
		<li>The transaction of illegal goods and/or services.</li>
		<li>Messages that violate <a href="http://www.business.ftc.gov/documents/bus61-can-spam-act-compliance-guide-business">CAN-Spam</a> Regulations.</li>
		<li>Escort or Dating services.</li>
		<li>Pharmaceutical trials and/or products.</li>
		<li>Work-from-home campaigns.</li>
		<li>Affiliate marketing.</li>
	</ul>

	<p>In addition to the above list, users of the MailPrime service may <b>not</b> do the following:</p>

	<ul>
		<li>Use 3rd party mailing lists.</li>
		<li>Send spam. <a href="http://en.wikipedia.org/wiki/Email_spam">What is spam?</a></li>
		<li>Use any MailPrime-generated content on another service provider.</li>
		<li>Repeatedly add the same recipients to any campaign after they opt-out.</li>
		<li>Upload any sensive personal information into the MailPrime application (social security numbers etc...)</li>
		<li>Disassemble, decomplile or reverse-engineer any of the MailPrime software.</li>
	</ul>

	<p>By using the MailPrime application, you are agreeing to the previously-stated terms. In addition, if you violate any of the following agreements your MailPrime account <b>will</b> get permanently suspended. MailPrime takes absolutley responsibility for the actions of individual users.</p>

	<p>--MailPri.me</p>

	<img style="margin-left: 65px;" src="/static/images/nav_icon.png" />
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Terms of Service</h5>
<p id="header_desc">Please read our Terms of Service before using your MailPrime account.</p>
{% endblock header %}