{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<div id="update_message_wrapper">

	<!-- Rendered Sample Message; float left -->
	<div id="sample_message_colapse">
		<div id="sample_message_toggle">
			<h3>Rendered Message</h3>
		</div>
		<iframe class="sample_message" src="{{ sample_link }}" frameborder="0"></iframe>
	</div>

	<div id="update_message_header">
		<h3>Update Your Message</h3>
	</div>

	<div class="form_right_wrapper">
	<form id="new_campaign_form" method="post" action="/{{ user.username }}/campaign-{{ campaign.pk }}/message-{{ message.pk }}">
	{% csrf_token %}

	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	<ul class="form_item">
	{% for field in form.visible_fields %}
	<li>
		{{ field.label_tag }}
		{{ field }}
		<div class="clear_float"></div>
	</li>
	{% endfor %}
	</ul>
	<div class="clear_float"></div>
	<input type="submit" name="submit" value="Update" />
</form>
</div>

	<div id="slick_template_toggle">
		<h3>Available Templates</h3>
	</div>

	<div id="slick_wrapper">
		{% for template in templates %}
		<div><h4>{{ template.title }}</h4><img width="250px" src="/static/images/sample_templates/{{ template.title }}.png" /></div>
		{% endfor %}
	</div>

</div>

</div>

{% endblock %}

{% block header %}
<h5 id="header_title">{{ message.title }}</h5>
<p id="header_desc">View data pertaining to '{{ message.title }}' below.</p>
{% endblock header %}