{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2>Statistical Message Analysis</h2>

	<div class="statistical_frame">

		<div id="weekday_chart_wrapper">
			<h4>Breakdown by Weekday</h4>
			<div id="weekday_chart"></div>
		</div>

		<div id="percent_response_chart_wrapper">
			<h4>Percent Participation</h4>
			<div id="percent_response_chart"></div>
		</div>

		<div class="clear_float"></div>

	</div>

	<div class="seperator"></div>
	
	<div class="statistical_frame">
		<h3 class="center_h3">Regional Statistics For <i>Read</i> Events</h3>
		<div id="geo_region_map" mess-data="{{ message_pk }}" user-data="{{ user.username }}" camp-data="{{ campaign_pk }}"></div>
	</div>

	<div class="seperator"></div>

	<div class="statistical_frame">
		<h3 class="center_h3">Location Statistics For <i>Read</i> Events</h3>
		<div id="coord_map"></div>
	</div>

	<div class="seperator"></div>

</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Message Statistics</h5>
<p id="header_desc">Measure the overall effectiveness of your message.</p>
{% endblock header %}