{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2>Statistical Message Analysis</h2>

	<!-- FLAG FOR MESSAGE REPORT -->
	<div id="generate_message_report"></div>

	<div class="statistical_frame">
		<h3 class="center_h3">Read Events Trend</h4>
			<div id="trend_chart"></div>
	</div>

	<div class="seperator"></div>
	
	<div class="graph_wrapper">

		<div id="weekday_chart_wrapper">
			<h4>Breakdown by Weekday</h4>
			<div id="weekday_chart"></div>
		</div>

		<div id="percent_response_chart_wrapper">
			<h4>Percent Participation</h4>
			<div id="percent_response_chart"></div>
		</div>

		<div class="clear_float"></div>

		<div id="unsub_chart_wrapper">
			<h4>Subscriber/Unsubscriber Count</h4>
			<div id="unsub_chart"></div>
		</div>

	</div>

	<div class="seperator"></div>
	
	<div class="statistical_frame">
		<h3 class="center_h3">Regional Statistics For <i>Read</i> Events</h3>
		<div id="geo_region_map" mess-data="{{ message.pk }}" user-data="{{ user.username }}" camp-data="{{ campaign_pk }}"></div>
	</div>

	<div class="seperator"></div>

	<div class="statistical_frame">
		<h3 class="center_h3">Location Statistics For <i>Read</i> Events</h3>
		<div id="coord_map"></div>
	</div>

	<div class="seperator"></div>

</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Message Statistics</h5>
<p id="header_desc">Measure the overall effectiveness of your message.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/{{ user.username }}/campaign-{{ campaign_pk }}/message-{{ message.pk }}">Back to Message</a></td>
			<td><a href="/{{ user.username }}/campaign-{{ campaign_pk }}/message-{{ message.pk }}/events">View Read Events</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}