{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">All Campaigns</h2>
	<table class="report_table">
		<tr>
			<th>Title</th>
			<th>Owner</th>
			<th>Active</th>
			<th>Date</th>
		</tr>

		{% for campaign in campaigns %}
		<tr>
			<td><a href="/admin/edit_campaign/{{ campaign.pk }}">{{ campaign.title }}</a></td>
			<td>{{ campaign.user.username }}</td>
			{% if campaign.active %}
			<td>Yes</td>
			{% else %}
			<td>No</td>
			{% endif %}
			<td>{{ campaign.created_date|date:"M d, Y" }} {{ campaign.created_date|time:"P" }}</td>
		</tr>
		{% endfor %}
	</table>
	
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Administration: All Campaigns</h5>
<p id="header_desc">View all campaigns on the page below.</p>
{% endblock header %}