{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">Edit {{ requested_user.username }}'s Account</h2>

	<div class="form_wrapper">
		<form id="new_campaign_form" method="post" action="/admin/edit_user/{{ requested_user.pk }}">
			{% csrf_token %}

			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}

			<ul class="form_item">
				{% for field in form.visible_fields %}
				<li>
					{{ field.label_tag }}
					{{ field }}
					<div class="clear_float"></div>
				</li>
				{% endfor %}
			</ul>
			<div class="clear_float"></div>
			<input type="submit" name="submit" value="Update Account" />
		</form>
	</div>
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Administration: Edit User</h5>
<p id="header_desc">Edit the selected MailPrime user with the options below.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/admin">Back to admin</a></td>
			<td><a href="/admin/all_users">Back to users</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}