{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">Recent Read-Events ( {{ event_count }} total )</h2>
	<table class="report_table">
		<tr>
			<th>Recipient</th>
			<th>Message</th>
			<th>Region</th>
			<th>Date</th>
		</tr>

		{% for event in events %}
		<tr>
			<td>{{ event.recipient.email }}</td>
			<td>{{ event.message.title }}</td>
			<td>{{ event.country_code }}</td>
			<td>{{ event.created_date|date:"M d, Y" }} {{ event.created_date|time:"P" }}</td>
		</tr>
		{% endfor %}
	</table>

	<div class="seperator_admin"></div>

	<h2 class="header_center">Recent Send Events</h2>
	<table class="report_table">
		<tr>
			<th>Date</th>
			<th>Method</th>
			<th>Message</th>
		</tr>

	{% for event in send_events %}
		<tr>
			<td>{{ event.send_date|date:"M d, Y" }} {{ event.send_date|time:"P" }}</td>
			<td>{{ event.method }}</td>
			<td>{{ event.message }}</td>
		</tr>
	{% endfor %}
	</table>

	<a class="link_button_center" href="/admin/all_send_events">View All ( {{ send_event_count }} )</a>

	<div class="seperator_admin"></div>

	<h2 class="header_center">Recent Users</h2>
	<table class="report_table">
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Is Staff?</th>
			<th>Last Login</th>
		</tr>

		{% for user in users %}
		<tr>
			<td><a href="/admin/edit_user/{{ user.pk }}">{{ user.username }}</a></td>
			<td>{{ user.email }}</td>
			{% if user.is_staff %}
				<td>Yes</td>
			{% else %}
				<td>No</td>
			{% endif %}
			<td>{{ user.last_login|date:"M d, Y" }} {{ user.last_login|time:"P" }}</td>
		</tr>
		{% endfor %}
	</table>

	<a class="link_button_center" href="/admin/all_users">View All ( {{ user_count }} )</a>

	<div class="seperator_admin"></div>

	<h2 class="header_center">Recent Messages</h2>
	<table class="report_table">
		<tr>
			<th>Title</th>
			<th>Campaign</th>
			<th>Owner</th>
			<th>Date</th>
		</tr>

		{% for message in user_messages %}
		<tr>
			<td><a href="/admin/edit_message/{{ message.pk }}">{{ message.title }}</a></td>
			<td>{{ message.campaign.title }}</td>
			<td>{{ message.campaign.user.username }}</td>
			<td>{{ message.created_date|date:"M d, Y" }} {{ message.created_date|time:"P" }}</td>
		</tr>
		{% endfor %}
	</table>

	<a class="link_button_center" href="/admin/all_messages">View All ( {{ user_message_count }} )</a>

	<div class="seperator_admin"></div>

	<h2 class="header_center">Recent Campaigns</h2>
	<table class="report_table">
		<tr>
			<th>Title</th>
			<th>Owner</th>
			<th>Active</th>
			<th>Date</th>
		</tr>

		{% for campaign in campaigns %}
		<tr>
			<td>{{ campaign.title }}</td>
			<td>{{ campaign.user.username }}</td>
			{% if campaign.active %}
			<td>Yes</td>
			{% else %}
			<td>No</td>
			{% endif %}
			<td>{{ campaign.created_date|date:"M d, Y" }} {{ campaign.created_date|time:"P" }}</td>
		</tr>
		{% endfor %}
	</table>

	<a class="link_button_center" href="/admin/all_campaigns">View All ( {{ campaign_count }} )</a>
	
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">MailPrime Administration</h5>
<p id="header_desc">Manage the MailPrime application with the options below.</p>
{% endblock header %}