{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">Recent Send Events</h2>
	<table class="report_table">
		<tr>
			<th>Date</th>
			<th>Method</th>
			<th>Message</th>
		</tr>

	{% for event in send_events %}
		<tr>
			<td>{{ event.send_date|date:"M d, Y" }} {{ event.send_date|time:"P" }}</td>
			<td>{{ event.method }}</td>
			<td>{{ event.message }}</td>
		</tr>
	{% endfor %}
	</table>

	<a class="link_button_center" href="/admin/send_events">View All</a>

	<h2 class="header_center">Recent Users</h2>
	<table class="report_table">
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Is Staff?</th>
			<th>Last Login</th>
		</tr>

		{% for user in users %}
		<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			{% if user.is_staff %}
				<td>Yes</td>
			{% else %}
				<td>No</td>
			{% endif %}
			<td>{{ user.last_login|date:"M d, Y" }} {{ user.last_login|time:"P" }}</td>
		</tr>
		{% endfor %}
	</table>

	<a class="link_button_center" href="/admin/users">View All</a>

</div>

{% endblock %}

{% block header %}
<h5 id="header_title">MailPrime Administration</h5>
<p id="header_desc">Manage the MailPrime application with the options below.</p>
{% endblock header %}