{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">All Send Events</h2>
	<table class="report_table">
		<tr>
			<th>Date</th>
			<th>Method</th>
			<th>Message</th>
		</tr>

	{% for event in send_events %}
		<tr>
			<td>{{ event.send_date|date:"M d, Y" }} {{ event.send_date|time:"P" }}</td>
			<td>{{ event.method }}</td>
			<td>{{ event.message }}</td>
		</tr>
	{% endfor %}
	</table>
	
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Administration: All Send Events</h5>
<p id="header_desc">View all send events in the table below.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/admin">Back to admin</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}