{% extends "_base.html" %}

{% block content %}

<div class="solid_bg">

	<h2 class="header_center">All Templates</h2>
	<table class="report_table">
		<tr>
			<th>Template Title</th>
			<th>Edit?</th>
			<th>Delete?</th>
		</tr>

	{% for template in templates %}
		<tr>
			<td><a href="/static/images/sample_templates/{{ template.title }}.png" target="_blank">{{ template.title }}</a></td>
			<td><a href="/admin/edit_template/{{ template.pk }}">Edit Template</a></td>
			<td><a href="/admin/edit_template/{{ template.pk }}?action=delete">Delete Template</a></td>
		</tr>
	{% endfor %}
	</table>
	
</div>

{% endblock %}

{% block header %}
<h5 id="header_title">Administration: All Templates</h5>
<p id="header_desc">View all templates on the page below.</p>
{% endblock header %}

{% block nav_options %}
<div id="nav_options">
	<table>
		<tr>
			<td><a href="/admin">Back to admin</a></td>
			<td><a href="/admin/add_template">Add a template</a></td>
		</tr>
	</table>
</div>
{% endblock nav_options %}